@font-face {
  font-family: noto-thin;
  src: url("../../fonts/NotoSansKR-Thin.otf"); }

tr {
  cursor: pointer;
  color: #585656;
  text-align: center;
  font-weight: 700;
  font-family: noto-thin;
  font-size: 1rem; }

tr:hover {
  color: black;
  background-color: #e4e4e2;
  transition: .1s; }

td {
  padding: 0 0.8rem;
  text-align: left; }
