@font-face {
  font-family: noto;
  src: url("../../fonts/NotoSansKR-Regular.otf"); }

.players-table {
  background-color: #cfcfcf;
  grid-column: 2 / 3; }

.filter-players {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 90vh; }

table {
  max-width: 746px;
  grid-column: 1 / 2;
  background-color: #ededed;
  border-collapse: collapse; }

tbody {
  display: block;
  height: 85vh;
  overflow-y: scroll; }

th {
  font-size: 1rem;
  text-align: center;
  background: #cfcece;
  padding: 0.8rem;
  font-family: noto;
  color: gainsboro;
  background-color: #303949; }

.player-name {
  text-align: left; }
