.chartjs-render-monitor {
  font-size: 2rem;
}

.styles_closeButton__20ID4 {
  cursor: pointer;
}

.styles_modal__gNwvD {
  background-color: #d8d8d8;
}

.styles_closeButton__20ID4:hover {
  color: rgb(201, 184, 184);
  animation: pulse 1s linear infinite;
}

.styles_closeButton__20ID4:focus {
  outline: 0;
}

.add-player-button {
  padding: 0.2rem 1rem;
  color: white;
  background-color: #01a766;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-right: 3rem;
}

.player-name {
  margin: 0.8rem;
}
.modal-header {
  display: flex;
  flex-direction: row;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0.367);
  }
  50% {
    box-shadow: 0 0 0 7px rgba(157, 158, 158, 0.134);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0);
  }
}
