.navigation {
  position: absolute;
  margin: auto;
  left: 0;
  right: 10rem;
  top: 5rem;
  bottom: 0;
  width: 10rem;
}

.nav-bar {
  border-radius: 0.5rem;
  border-spacing: 0.5rem;
  text-decoration-line: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: antiquewhite;
  padding: 0.5rem;
}

.nav-border {
}

.active {
  border-right: 0.5rem double;
  border-left: 0.5rem double;
  // box-shadow: 0 0 0 5px black, 0 0 0 7px rgb(211, 211, 211);
  // background: rgb(168, 111, 111);
  border-color: white;
  // border: 3px solid white;
}
