@font-face {
  font-family: robot;
  src: url("../../fonts/RobotoCondensed-Regular.ttf"); }

.dashboard {
  grid-column: 1 / 2;
  background-color: #28282c;
  border-right: 2px solid #cacaca; }

.dash-text {
  color: #a8a8a8;
  opacity: 0.4; }

.team {
  border-bottom: 1px solid #c0bfbf;
  padding-bottom: 1rem; }

.user-icon {
  padding: 1rem 0;
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #e1ffff; }

.user-nav {
  display: flex;
  flex-direction: column; }

.dashboard-players {
  font-family: verdana;
  font-size: 14px;
  font-weight: 200;
  background-color: #2e353d;
  height: 100%;
  color: #e1ffff;
  display: flex;
  justify-content: space-between;
  padding: 8px; }

.dashboard-players:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  transition: all 0.5s ease; }

.dashboard-players-playername {
  margin: 5px; }

.user {
  font-family: verdana;
  font-size: 18px;
  font-weight: 400;
  background-color: #2e353d;
  height: 100%;
  color: #e1ffff;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-decoration: none; }

.user-option {
  font-family: verdana;
  font-size: 14px;
  font-weight: 200;
  background-color: #2e353d;
  height: 100%;
  color: #e1ffff;
  display: flex;
  justify-content: space-between;
  padding: 8px; }

.user:hover {
  border-left: 3px solid #9d732a;
  transition: all 0.5s ease; }

.active {
  border-left: 3px solid #c2a97c;
  transition: all 0.5s ease; }

.fa-plus-circle {
  color: #5c7fdd;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  margin-top: 1rem; }

.fa-plus-circle:hover {
  color: #3e61c0;
  border-radius: 50%;
  border-color: #3e7fdf; }

.user-icon {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.users {
  margin: 0 0 0 1rem; }

.fa-minus-circle {
  align-self: center;
  font-size: 1.5rem;
  cursor: pointer; }

.fa-minus-circle:hover {
  color: white; }

.username-input {
  height: 2rem;
  width: 10rem;
  margin: auto; }
