@font-face {
  font-family: robot;
  src: url('../../fonts/RobotoCondensed-Regular.ttf');
}

.dashboard {
  grid-column: 1 / 2;
  background-color: #28282C;
  border-right: 2px solid rgb(202, 202, 202);
}

.dash-text {
  color: rgb(168, 168, 168);
  opacity: 0.4;
}

.team {
  border-bottom: 1px solid rgb(192, 191, 191);
  padding-bottom: 1rem;
}

.user-icon {
	padding: 1rem 0;
	background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
	font-size: 14px;
	color: #e1ffff;
}

.user-nav {
  display: flex;
  flex-direction: column;
}

.dashboard-players {
	font-family: verdana;
	font-size: 14px;
	font-weight: 200;
	background-color: #2e353d;
	height: 100%;
	color: #e1ffff;
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.dashboard-players:hover {
	border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  transition: all .5s ease;
}

.dashboard-players-playername {
	margin: 5px;
}
.user {
	font-family: verdana;
	font-size: 18px;
	font-weight: 400;
	background-color: #2e353d;
	height: 100%;
	color: #e1ffff;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	text-decoration: none;
}


.user-option {
	font-family: verdana;
	font-size: 14px;
	font-weight: 200;
	background-color: #2e353d;
	height: 100%;
	color: #e1ffff;
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.user-option:hover {
	border-left: 3px solid #d19b3d;
  transition: all .5s ease;
}

.active {

}

.fa-plus-circle {
  color: rgb(92, 127, 221);
  cursor: pointer;
  margin-right: .5rem;
	font-size: 1.5rem;
	margin-top: 1rem;
}

.fa-plus-circle:hover {
  color: rgb(62, 97, 192);
  border-radius: 50%;
  border-color: #3e7fdf;
}

.user-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.users {
  margin: 0 0 0 1rem;
}

.fa-minus-circle {
  align-self: center;
	font-size: 1.5rem;
	cursor: pointer;
}

.fa-minus-circle:hover {
	color: white;
}

.username-input {
  height: 2rem;
  width: 10rem;
  margin: auto;
}
